@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Para navegadores baseados em Webkit */
::-webkit-scrollbar {
  width: 4px;
}

.light {
  ::-webkit-scrollbar-thumb {
    background: #0f0e46;
    border-radius: 10px;
  }
}

.dark {
  ::-webkit-scrollbar-thumb {
    background: #4b4474;
    border-radius: 10px;
  }
}
